@model ESystem.Models.SubjectModel
@{
    ViewBag.Title = "InputSubject";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ввод нового предмета </h2>

@using (Html.BeginForm())
{
    <div class="form-horizontal">
        @Html.HiddenFor(x => x.ParentId)
        @Html.HiddenFor(x => x.Id)
        <div class="form-group">
            <div class="col-sm-2">
                <label>Вопрос</label>
            </div>
            <div class="col-sm-10">@Model.Answers.NewAnswer.Question.Data</div>
        </div>
        <div class="form-group">
            <div class="col-sm-2">
                <label>Ответ</label>
            </div>
            <div class="col-sm-10">@Model.Answers.NewAnswer.Data</div>
        </div>
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2">
                    <label>Предмет</label>
                </div>
                <div class="col-sm-10">@Html.TextAreaFor(x => x.Data, new { @class = "form-control" })</div>
            </div>
            <div class="form-group">
                <input type="submit" value="Да" class="btn btn-primary" />
                @Html.ActionLink("Нет", "AddSubject", "EditorES", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}