@model List<ESystem.Infrastructure.Question>
@{
    ViewBag.Title = "ListQueEditor";
}

<h2>Список вопросов</h2>
<div class="form-horizontal">
    <div class="form-group col-sm-12">
        @Html.ActionLink("Назад...", "Index", null, new { @class = "btn btn-primary" })
    </div>
    <table class="table">
        <thead>
            <th class="col-sm-1">Номер вопроса</th>
            <th class="col-sm-9">Текст вопроса</th>
            <th class="col-sm-1" title="Ссылка на родительский элемент"><i class="fa fa-link"></i></th>
            <th class="col-sm-1" title="удалить элемент"><span class="glyphicon glyphicon-trash"></span></th>
        </thead>
        <tbody>
            @foreach (var que in Model)
            {
                <tr data-id="@que.Id" data-parent="@que.ParentId">
                    <td>@que.Id</td>
                    @if (que.Id == 1)
                    {
                        <td>корень дерева вопросов</td>
                    }
                    else
                    {
                        <td class="dynamic-content">@que.Data</td>
                    }
                    <td>
                        <a href="#" onclick="setActive(@que.ParentId)">@(que.ParentId == 0 ? "-" : @que.ParentId + "")</a>
                    </td>
                    <td>
                        <a href="" data-url="@Url.Action("RemoveNode", new { id = que.Id })" style="color: #e80c4d" class="remove-node glyphicon glyphicon-remove"></a>
                    </td>
                </tr>    
            }
        </tbody>
    </table>
</div>
<script>
    $(".remove-node").click(function (event) {
        event.preventDefault();
        var url = $(this).data('url');

        var parent = $(this).closest('tr');
        $.ajax(
        {
            url: url,
            success: function () {
                parent.hide();
            },
            erorr: function () {
                errorHandler(null, parent);
            }
        });
    });
    (function () {
        $('table').on('mousedown', function (event) {
            event.preventDefault();
        });

        $('.dynamic-content').on('dblclick', function () {

            var curEditor = $(document).find('#editor');

            var parent = null;

            if (curEditor.length) {
                parent = curEditor.closest('tr');

                completeEdit(parent.data('id'), curEditor.find('input').val(), parent.data('parent'), curEditor.closest('.dynamic-content'), parent);
            }

            var self = $(this);
            parent = self.closest('tr');

            var editor = $("<div id='editor' class='form-inline'/>");

            var textarea = $("<input type='text' class='form-control' style='margin-right:5px;min-width: 650px;'>").val(self.text());

            var saveBtn = $("<button class='btn btn-success glyphicon glyphicon-ok'></button>");

            saveBtn.on('click', function () {
                completeEdit(parent.data('id'), editor.find('input').val(), parent.data('parent'), self, parent);
            });

            editor.append(textarea).append(saveBtn);

            self.html(editor);

        });
    })();

    function completeEdit(id, value, parentId, container, parent) {
        container.html(value);

        var params = {
            id: id,
            data: value,
            parentId: parentId
        };

        $.ajax('SaveQue', {
            data: params, success: function (response) {
                if (response) {
                    if (response.code == 0) {
                        container.append('<span class="label label-success pull-right" id="state">Успешно сохранено!</span>');
                        parent.addClass('success');
                    } else {
                        errorHandler(container, parent);
                        container.html($('<span class="label label-danger pull-right" >Не сохранено!Ошибка!</span>'));
                        parent.addClass('error');
                    }
                }
                setTimeout(function () {
                    $('#state').remove();
                    parent.removeClass('success error');
                }, 3000);
            }, error: function () { errorHandler(container, parent); }
        });
    }

    function errorHandler(container, parent) {
        if (container)
            container.html($('<span class="label label-danger" >Не сохранено! Ошибка!</span>'));

        parent.addClass('error');
    }

    function setActive(parentId) {

        $(document).find('tbody tr').removeClass('active');

        if (!parseInt(parentId)) return;

        var $elem = $(document).find('tbody').find('[data-id=' + parentId + ']');

        $('html, body').animate({
            scrollTop: $elem.offset().top
        }, 1000);

        $elem.addClass('active');
    }
</script>
